<%#= form_for :user do |f| %>
<%= form_for(@user) do |f| %>
  <div class="field">
  	<%= f.label :email %>
  	<%= f.text_field :email, :style => "width:320px" %>
    <%= error_message @user, :email %>
  </div>

  <div class="field">
  	<%= f.label :password %>
  	<%= f.password_field :password, :style => "width:320px" %>
    <%= error_message @user, :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :style => "width:320px" %>
    <%= error_message @user, :password_confirmation %>
  </div>

  <% if @user.new_record? %>
    <div class="field">
      <%= label_tag :spam_filter, 'I am human: 2 + 3 = ' %>
      <%= text_field_tag :spam_filter %>
    </div>
  <% end %>

  <%= f.submit "Submit" %>

<% end %>