<!-- UPCOMING GROUPED BY MONTH -->
<div class="row">
	<div class="container">
	<% @events.each do |month, events| %>
	<div class="col-xs-3">
		<h4><%= month.strftime('%B').upcase %></h4>	
				<div class="thumbnail">	
  					<% for event in events %>
      					<h4><%= link_to event.name, event %><%= ' - ' + event.city.name %>, <%= event.city.continent %></h4>
        				<%= friendly_date(event.start_date) %>
        				<% if event.end_date.present? && event.end_date != event.start_date %> until <%= friendly_date(event.end_date) %>
      					<% end %>
      				<% end %>
      			</div>	
      		</div>
	<% end %>
	</div>
</div>
<!-- UPCOMING GROUPED BY MONTH -->
