<strong><%= @event.name %></strong><br \>

<%#= localize @event.start_date %>
<p>
<i class="fa fa-calendar"></i>
<%= friendly_date(@event.start_date) %>
<% if @event.end_date.present? && @event.end_date != @event.start_date %> <br \>
	 until <br \>
	 <%= friendly_date(@event.end_date) %><br \>
<% end %>
</p>

<% if @event.website.present? %>
	<i class="fa fa-laptop"></i>
	<%= link_to @event.website, url_for(@event.website), :target => '_blank' %><br \> 
<% end %>

<i class="fa fa-map-marker"></i>
<%= @event.city.name %>, <%= @event.city.continent %><br \>

<%= image_tag @event.image.url if @event.image? %>

<!-- Iso -->
<br \>
	<!-- 20140127T224000Z --><br \>
	<%#= @event.end_date.iso8601 %>
	<%#= iso_format(@event.end_date) %><br \>
	<br \>
	 <%#= iso_format(@event.end_date) %><br \>
<br \>



<%=link_to 'Add to Google Calendar', add_to_g_cal(@event), :title => 'Add to Calendar', :target => '_blank' %>
<br \>
<br \>
<%= link_to 'Edit', edit_event_path, class: "btn btn-link" %>| 
<%= link_to 'Back', events_path, class: "btn btn-link"  %>| 
<%= link_to 'Delete', event_path(@event), :method => :delete, data: { confirm: 'Are you sure?' } %>